<h2><%= @book.title %> </h2>

<h3><%= @book.author %></h3>

<p><%= @book.description %></p>

<%= link_to "Back", root_path, class: "btn btn-danger" %>
<%= link_to 'Edit', edit_book_path(@book), class: "btn btn-primary" %>
<%= link_to 'Delete', book_path(@book), method: :delete, class: "btn btn-success", data: { confirm: "Are you sure?"} %>
